################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Functions/Properties/ServiceDependencies/FileCopyFunctions - Zip Deploy
/src/Functions/Properties/ServiceDependencies
/.vs
